/*
 * Developed by CQ Inversiones SAS. Copyright ©. 2023 - 2024. All rights reserved.
 * Desarrollado por CQ Inversiones SAS. Copyright ©. 2023 - 2024. Todos los derechos reservados.
 */

/*
 * Project:      pandora-frontend
 * Developed by: Juan David Pelaez Cumbe
 * Date:         21/04/23 - 7:52 AM
 * Module name:  _variables
 * File name:    _variables.scss
 * IDE:          WebStorm
 */

:root {
  --base-pink-100: #ECDCFF;
  --base-pink-200: #D8B9FF;
  --base-pink-300: #C197FF;
  --base-pink-400: #AD7DFF;
  --base-pink-500: #8C52FF;
  --base-pink-600: #6B3BDB;
  --base-pink-700: #6B3BDB;
  --base-pink-800: #361A93;
  --base-pink-900: #240F7A;

  --base-primary-100: #DEEAF5;
  --base-primary-200: #BFD4EC;
  --base-primary-300: #8EA6C6;
  --base-primary-400: #5B6F8D;
  --base-primary-500: #232E42;
  --base-primary-600: #192338;
  --base-primary-700: #111A2F;
  --base-primary-800: #0B1126;
  --base-primary-900: #060B1F;
}
