/*
 * Developed by CQ Inversiones SAS. Copyright ©. 2023 - 2024. All rights reserved.
 * Desarrollado por CQ Inversiones SAS. Copyright ©. 2023 - 2024. Todos los derechos reservados.
 */

/*
 * Project:      pandora-frontend
 * Developed by: Juan David Pelaez Cumbe
 * Date:         21/04/23 - 7:52 AM
 * Module name:  _variables
 * File name:    _variables.scss
 * IDE:          WebStorm
 */

:root {
  // base
  --base-black: #000000;
  --base-transparent: rgba(255, 255, 255, 0);
  --base-pink-100: #ECDCFF;
  --base-pink-200: #D8B9FF;
  --base-pink-300: #C197FF;
  --base-pink-400: #AD7DFF;
  --base-pink-500: #8C52FF;
  --base-pink-600: #6B3BDB;
  --base-pink-700: #6B3BDB;
  --base-pink-800: #361A93;
  --base-pink-900: #240F7A;

  --base-primary-100: #DEEAF5;
  --base-primary-200: #BFD4EC;
  --base-primary-300: #8EA6C6;
  --base-primary-400: #5B6F8D;
  --base-primary-500: #232E42;
  --base-primary-600: #192338;
  --base-primary-700: #111A2F;
  --base-primary-800: #0B1126;
  --base-primary-900: #060B1F;

  --base-success-100: #EBFBD4;
  --base-success-200: #D3F7AA;
  --base-success-300: #AEE97B;
  --base-success-400: #89D357;
  --base-success-500: #58B728;
  --base-success-600: #409D1D;
  --base-success-700: #2B8314;
  --base-success-800: #1A6A0C;
  --base-success-900: #0E5707;

  --base-accent-100: #FFDAD8;
  --base-accent-200: #FFB2B5;
  --base-accent-300: #FF8C9C;
  --base-accent-400: #FF6F92;
  --base-accent-500: #ff4081;
  --base-accent-600: #DB2E7A;
  --base-accent-700: #B72071;
  --base-accent-800: #931465;
  --base-accent-900: #7A0C5D;

  --base-accent-70: rgba(183, 32, 113, 0.15);
  --base-accent-80: rgba(147, 20, 101, 0.2);


  --base-neutral-100: rgb(255, 255, 255);
  --base-neutral-200: rgb(207, 207, 207);
  --base-neutral-300: rgb(158, 158, 158);
  --base-neutral-400: rgb(110, 110, 110);
  --base-neutral-500: #5B5B5B;
  --base-neutral-600: #3D3D3D;
  --base-neutral-700: #292929;
  --base-neutral-800: #141414;
  --base-neutral-900: #060B1F;

  --base-dark-100: #DEEAF5;
  --base-dark-200: #BFD4EC;
  --base-dark-300: #8EA6C6;
  --base-dark-400: #5B6F8D;
  --base-dark-500: #232E42;
  --base-dark-600: #192338;
  --base-dark-700: #111A2F;
  --base-dark-800: #0B1126;
  --base-dark-900: #060B1F;

  --base-warn-100: #FEE6D6;
  --base-warn-200: #FDC7AE;
  --base-warn-300: #FBA186;
  --base-warn-400: #F87D67;
  --base-warn-500: #f44336;
  --base-warn-600: #D12729;
  --base-warn-700: #AF1B29;
  --base-warn-800: #8D1127;
  --base-warn-900: #750A26;

  --base-warning-100: #FFF4CC;
  --base-warning-200: #FFE799;
  --base-warning-300: #FFD666;
  --base-warning-400: #FFC53F;
  --base-warning-500: #ffaa00;
  --base-warning-600: #DB8A00;
  --base-warning-700: #B76D00;
  --base-warning-800: #935300;
  --base-warning-900: #7A4000;
  --base-warning-70: #FFAA0019;
  --base-warning-80: #FFAA002D;

  --base-gray-100: #F5F5F5;
  --base-gray-200: #EEEEEE;
  --base-gray-300: #E0E0E0;
  --base-gray-400: #BDBDBD;
  --base-gray-500: #9E9E9E;
  --base-gray-600: #757575;
  --base-gray-700: #616161;
  --base-gray-800: #323232;
  --base-gray-900: #212121;

  // card
  --card-shadow: rgba(0, 0, 0, 0.1);

  // radius
  --card-radius: 16px 16px;
}
