/*
 * Developed by CQ Inversiones SAS. Copyright ©. 2023 - 2024. All rights reserved.
 * Desarrollado por CQ Inversiones SAS. Copyright ©. 2023 - 2024. Todos los derechos reservados.
 */

/*
 * Project:      pandora-frontend
 * Developed by: Juan David Pelaez Cumbe
 * Date:         20/04/23 - 11:50 PM
 * Module name:  pandora
 * File name:    pandora.scss
 * IDE:          WebStorm
 */
@import "./source/button";
@import "./source/card";
@import "./source/img";
@import "./source/snackbar";



md-sidenav.md-locked-open {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}


