<div class="flex flex-row justify-content-between w-full mb-3">
  <p>Listado de usuarios</p>
  <button mat-button mat-raised-button color="accent" (click)="onClickCreateCol()">
    Crear usuario
  </button>
</div>
<div class="flex flex-column gap-3 max-h-20rem overflow-y-auto">
  <mat-card *ngFor="let item of userList" class="mx-1">
    {{' //name: ' + item.first_name}}
    {{item.last_name}}
    {{' //mail: ' + item.email}}
    <button mat-button mat-icon-button color="accent" (click)="onClickUpdate(item.id?.toString() ?? '')">
      <mat-icon fontIcon="edit"></mat-icon>
    </button>
  </mat-card>
</div>
