<!--
<mat-drawer-container class="w-12 h-screen" autosize>
  <mat-drawer #drawerLeft mode="side">
    <div class="main&#45;&#45;sidebar&#45;&#45;content p-3 w-10rem max-w-12rem">
      <p>Auto-resizing sidenav</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </div>
  </mat-drawer>
  <div>
    <app-header [shoppingCarProduct]="shoppingCarProduct"></app-header>
    <div class="px-5 py-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
-->

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <app-header class="w-12" [shoppingCarProduct]="shoppingCarProduct"></app-header>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="py-4 px-5">
      <div class="ul-filter py-2">
        <form [formGroup]="filterForm">
          <mat-button-toggle-group appearance="legacy" name="fontStyle" class="no-box-shadow bg--transparent gap-3"
                                   formControlName="filterType" (change)="onChangeFilter($event)">
            <mat-button-toggle class="toggle--tag font-semibold" [value]="0">Todo</mat-button-toggle>
            <mat-button-toggle class="toggle--tag font-semibold" [value]="1">Categoría</mat-button-toggle>
            <mat-button-toggle class="toggle--tag font-semibold" [value]="2">Etiquetas</mat-button-toggle>
            <mat-button-toggle class="toggle--tag font-semibold" [value]="3">En promoción</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-accordion>
            <mat-expansion-panel hideToggle class="no-box-shadow bg-transparent" [expanded]="panelOpenState">
              <mat-button-toggle-group  class="no-box-shadow bg--transparent mt-2 gap-3" *ngIf="filterForm.controls['filterType'].value === 1" appearance="legacy"
                                       name="fontStyle" aria-label="Font Style"
                                       formControlName="category">
                <mat-button-toggle value="bold">Todo</mat-button-toggle>
                <mat-button-toggle value="italic">Italic</mat-button-toggle>
                <mat-button-toggle value="underline">Underline</mat-button-toggle>
              </mat-button-toggle-group>
            </mat-expansion-panel>
          </mat-accordion>
        </form>

      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
