.main--content {
  top: 60px;
}

.main--toolbar {
  margin-top: -60px !important;
}

.example-is-mobile .main--toolbar {
  margin-top: -60px !important;
}

h1.example-app-name {
  margin-left: 8px;
}

.content--container {
  flex: 1;
}

.example-is-mobile .content--container {
  flex: 1 0 auto;
}
