<mat-drawer-container class="w-12 h-screen" autosize>
  <mat-drawer #drawerLeft mode="side">
    <div class="main--sidebar--content p-3 w-10rem max-w-12rem">
      <p>Auto-resizing sidenav</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </div>
  </mat-drawer>
  <div>
    <app-header [shoppingCarProduct]="shoppingCarProduct"></app-header>
    <div class="px-5 py-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
