<div class="product--form flex flex-column px-4 py-5">
  <div class="flex w-12 align-items-center justify-content-between">
    <h1>
      Crear productos
    </h1>
    <button mat-button mat-raised-button color="accent" type="button">Ver lista</button>
  </div>
  <form [formGroup]="productForm" novalidate>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="productName" type="text" maxlength="250" name="name" id="name"
             placeholder="Nombre del product">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <div class="block"></div>
    <mat-error
      *ngIf="productForm && productForm.controls['name'] && productForm.controls['name'].dirty ? !productForm.controls['name'].valid : false">
      Solo letras y números, max 250 caracteres, sin caracteres especiales.
    </mat-error>
    <button mat-button mat-raised-button color="primary" type="button">Enviar</button>
  </form>
</div>
