/*
 * Developed by CQ Inversiones SAS. Copyright ©. 2023 - 2024. All rights reserved.
 * Desarrollado por CQ Inversiones SAS. Copyright ©. 2023 - 2024. Todos los derechos reservados.
 */

/*
 * Project:      pandora-frontend
 * Developed by: Juan David Pelaez Cumbe
 * Date:         21/04/23 - 12:12 PM
 * Module name:  _button
 * File name:    _button.scss
 * IDE:          WebStorm
 */


.button--outline {
  color: var(--base-black) !important;
  border: 2px solid var(--base-primary-500) !important;
  background: var(--base-neutral-100) !important;
}

mat-button-toggle {
  &.toggle--tag {
    border-radius: 8px;
    border: 2px solid transparent;
    &.btn--warn {
      &:not(.mat-button-toggle-disabled) {
        color: var(--base-neutral-600);
        border: 2px solid transparent;

        &.mat-button-toggle-checked {
          background: var(--base-warning-80);
          color: var(--base-warning-500);
          border-color: var(--base-warning-500);

          &:hover {
            background: var(--base-warning-70);
            border-color: var(--base-warning-400);
          }
        }

        & span.mat-button-toggle-focus-overlay {
          background-color: transparent !important;
        }
      }
    }
    &.btn--accent {
      &:not(.mat-button-toggle-disabled) {
        color: var(--base-neutral-600);
        border: 2px solid transparent;

        &.mat-button-toggle-checked {
          background: var(--base-accent-80);
          color: var(--base-accent-500);
          border-color: var(--base-accent-500);

          &:hover {
            background: var(--base-accent-70);
            border-color: var(--base-accent-400);
          }
        }

        & span.mat-button-toggle-focus-overlay {
          background-color: transparent !important;
        }
      }
    }
  }
}

