
  <div class="w-12rem h-4rem">
    <img class="h-4rem cursor-pointer" ngSrc="../../../assets/image/bhouse-white-transparent.png" alt="logo alternativo"
         width="192" height="70" (click)="onClickHome()">
  </div>
  <div class="flex">
    <button mat-mini-fab color="primary" aria-label="Example icon button"
            matTooltip="Abrir carrito de compras"
            [matBadge]="shoppingCarProduct.length" matBadgeColor="warn"
            (click)="onClickSidebarToggle()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
  <!--[matBadgeHidden]="shoppingCarProduct.length === 0"-->
