/*
 * Developed by CQ Inversiones SAS. Copyright ©. 2023 - 2024. All rights reserved.
 * Desarrollado por CQ Inversiones SAS. Copyright ©. 2023 - 2024. Todos los derechos reservados.
 */

/*
 * Project:      pandora-frontend
 * Developed by: Juan David Pelaez Cumbe
 * Date:         18/04/23 - 10:22 PM
 * Module name:  styles
 * File name:    styles.scss
 * IDE:          WebStorm
 */
@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();

$pink-palette: (
  100: #ECDCFF,
  200: #D8B9FF,
  300: #C197FF,
  400: #AD7DFF,
  500: #8C52FF,
  600: #6B3BDB,
  700: #6B3BDB,
  800: #361A93,
  900: #240F7A,
  contrast: (
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$indigo-palette: (
  100: #DEEAF5,
  200: #BFD4EC,
  300: #8EA6C6,
  400: #5B6F8D,
  500: #232E42,
  600: #192338,
  700: #111A2F,
  800: #0B1126,
  900: #060B1F,
  contrast: (
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);
$my-palette: $indigo-palette;

$mat-indigo: '#232E42';
$mat-pink: '#8C52FF';
$mat-red: '#B1365B';

$my-primary: mat.define-palette($indigo-palette, 500);
$mat-pink: mat.define-palette($pink-palette, 500);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $mat-pink,
  ),
  density: 0,
));
@include mat.core-theme($my-theme);
@include mat.button-color($my-theme);
@include mat.all-component-themes($my-theme);

$white: #fff;
$black: #000;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.one-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.min-h-7rem {
  min-height: 7rem;
}

.card__radius {
  border-radius: 16px 16px;
}

.card__shadow {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.product--tag {
  width: 100%;
  height: 3px;
}

.button--outline {
  color: #000000 !important;
  border: 2px solid #232E42 !important;
  background: #ffffff !important;
}

app-root {
  & app-product-list {
    & ngx-star-rating label.star {
      font-size: 1.5rem !important;
      padding: 10px 10px 10px 0 !important;
      cursor: pointer !important;
      color: #fff !important;
    }
  }

  input.star-1:checked ~ label.star:before {
    color: #8a9dc7 !important;
    box-shadow: #fff 0 5px 3px -3px;
  }

  input.star-2:checked ~ label.star:before {
    color: #5a72a8 !important;
    box-shadow: #fff 0 5px 3px -3px;
  }

  input.star-3:checked ~ label.star:before {
    color: #2b447e !important;
    box-shadow: #fff 0 5px 3px -3px;
  }

  input.star-4:checked ~ label.star:before {
    color: #0d2354 !important;
    box-shadow: #fff 0 5px 3px -3px;
  }

  input.star-5:checked ~ label.star:before {
    color: #061d50 !important;
    box-shadow: #fff 0 5px 3px -3px;
  }

}

.product--card {
  height: 22rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px 16px;

  & .img-content {
    & img {
      object-fit: cover;
      width: 100% !important;
      height: 17rem !important;
      border-radius: 16px 16px 0 0;
    }

    & .rating--content {
      bottom: 5px;
      background: var(--rating--bg);

      & i {
        color: var(--white);
        font-size: 2rem !important;
        bottom: 10px;
      }
    }
  }

  & .desc-content {
    padding: 0;

    & .product--text {
      &:hover {
        & .price--product {
          width: 100% !important;

          & .price--symbol {
            font-size: 0 !important;
            background-color: $white !important;
            color: #232E42;

            & .dollar--char {
              font-size: 0;
            }

            & > label {
              font-size: 1.5rem;
              padding-right: 1rem;
            }
          }

          & .price--show {
            width: 2rem;
          }
        }

        & .text--product {
          width: 0 !important;
          font-size: 0 !important;

          & .product--tag {
            width: 0;
            height: 0;
          }
          & p {
            font-size: 0 !important;
          }
        }
      }

      & .desc--text {
        & p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
        }
      }
    }

    & .text--product {
      transition: width .3s linear, font-size .3s linear, gap .3s linear;
    }
  }

  & .price--product {
    transition: width .3s linear;

    & .price--symbol {
      height: 4.6rem !important;
      border: solid #232E42;
      border-width: 0 3px 3px 3px;
      background-color: #232E42;
      color: #ffffff;
      border-bottom-left-radius: 16px;
      font-size: 2rem;
      transition: width .3s linear, font-size .3s linear, background-color .3s linear, color .3s linear;

      & > label {
        transition: font-size .3s linear, padding .3s linear;
        font-size: 0;
      }
    }
  }
}
